@if(profile(); as profile) {
  <header class="">
    <div class="w-full grid grid-cols-10 *:px-1.5 *:py-1.5">
      <div class="col-start-3 col-end-9 border-x border-neutral-800 relative">
        <div class="pb-10"></div>
      </div>
      <div class="col-start-1 col-end-3">
        <div class="flex gap-1.5 h-full">
          @if (isHome()) {
            <app-panel-button [disabled]="true">
              <app-filter-off-icon [size]="16" [strokeWidth]="2.5"/>
            </app-panel-button>
            <app-panel-button [disabled]="true">
              <app-search-icon [size]="18" [strokeWidth]="2.5"/>
            </app-panel-button>
          }
          <div class="ms-auto transition-all duration-400 relative aspect-square opacity-90 size-8 hover:scale-110">
            <img [ngSrc]="'favicon.ico'" fill class="transition-all object-cover"
                 alt="project logo"/>
          </div>
        </div>
      </div>
      <div class="col-span-6 border-x border-neutral-800 pt-10 px-1.5">
        <div class="flex gap-1.5 h-full">
          <div class="flex flex-col me-auto justify-end pb-1">
            <h1
              class="uppercase  text-box-trim text-base/3 tracking-tighter text-font-primary">
              Auction <br>
              <span class="text-xs text-box-trim opacity-60 italic">Raise the Frequency</span></h1>
          </div>


          <div
            class="cursor-pointer transition-all duration-400 relative aspect-square size-8 rounded-full overflow-hidden hover:scale-110">
            <img [ngSrc]="'user/' + profile.thumbnail.filename | imgUrl" fill class="transition-all object-cover"
                 alt="project logo"/>
          </div>
          <app-user-credit/>
          <app-panel-button ngmMotion
                            [whileTap]="{ scale: .9 }"
                            [disabled]="true">
            <app-add-icon [size]="20" [strokeWidth]="2.5"/>
          </app-panel-button>
          <app-panel-button ngmMotion
                            [whileTap]="{ scale: .9 }"
                            (click)="logout()">
            <app-log-out-icon [size]="14" [strokeWidth]="2.5"/>
          </app-panel-button>
        </div>
      </div>
      <div class="col-span-2">
        <div class="flex gap-1.5 h-full">
          <app-panel-button ngmMotion
                            [whileTap]="{ scale: .9 }"
                            (click)="panelService.setLeftPanel('feed')"
                            [isActive]="panelService.leftPanel() === 'feed'"
                            [showIndicator]="true">
            <app-signal-icon [size]="16" [strokeWidth]="1"/>
          </app-panel-button>
          <app-panel-button ngmMotion
                            [whileTap]="{ scale: .9 }"
                            (click)="panelService.toggleLeftPanel()"
                            [isActive]="panelService.leftPanel() === 'notification'"
                            [showIndicator]="notificationService.notifications.visibleItems().some(n => !n.read)">
            <app-bell-icon [size]="17" [strokeWidth]="1.7" [fill]="false"/>
          </app-panel-button>
<!--          <app-panel-button [disabled]="true">-->
<!--            <app-eclipse-icon [size]="18" [strokeWidth]="2"/>-->
<!--          </app-panel-button>-->
        </div>
      </div>
    </div>
  </header>
}
