<div class="p-3">
  <app-bloc-title title="pagination" />
</div>
<div class="flex gap-1 flex-wrap text-xs mb-1 px-3 pe-10">
  @for (page of pages(); track $index) {
    <div ngmMotion
         initial="initial"
         animate="animate"
         exit="exit"
         [variants]="itemVariants"
         [transition]="{ type: 'spring', stiffness: 300, damping: 25, delay: .2 * $index }">
      <button
        class="transition-all duration-300 ease-in-out relative cursor-pointer border hover:rounded-xl border-neutral-800"
        [ngClass]="page === meta()?.page
          ? 'bg-neutral-100 text-neutral-900 font-semibold pointer-events-none'
          : 'bg-neutral-950 hover:bg-neutral-300 text-neutral-300 dark:hover:bg-neutral-800/90'"
        (click)="goToPage(page)">
        <div class="flex">
          <div class="text-xs text-box-trim p-2 ">
            <span>{{ "+ " + page }}</span>
          </div>
        </div>
      </button>
    </div>
  }
</div>
