<div class="flex flex-col justify-center">
    <div class="flex items-center gap-2">
      <div class="flex items-center *:me-[-15px]">
        @for (bid of bids(); track $index) {
          <div class="relative size-9.5 rounded-full overflow-hidden outline-3 outline-neutral-200 dark:outline-neutral-800 group-hover:outline-neutral-300 dark:group-hover:outline-neutral-800/80 transition">
            <img [ngSrc]="`${environment.IMG_BASE_URL}/user/${bid.user.image}`"
                 alt="bidder thumbnail" fill>
          </div>
        }
        <div
          class="size-9.5 outline-3 outline-neutral-200 dark:outline-neutral-800 group-hover:outline-neutral-300 dark:group-hover:outline-neutral-800/80 z-4 aspect-square bg-neutral-800 dark:bg-neutral-200 text-neutral-200 dark:text-black rounded-full text-xs flex items-center justify-center">
          <span class="pt-1 dark:font-semibold">+33</span>
        </div>
      </div>
      <div class="flex items-end gap-1 ms-4">
        <p class="text-neutral-500 text-xs text-box-trim">Live <br> bidders</p>
      </div>
    </div>
  </div>



