<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm">

  @if (errorMsg) {
    <p class="text-red-300/80 mt-2 text-xs text-end me-5">{{ errorMsg }}</p>
  }
  <app-login-input type="email"
                   name="username"
                   placeholder="example: john.doe@example.com"
                   label="Email Address"
                   [(ngModel)]="username"
                   [hasError]="!!errorMsg"/>
  <app-login-input type="password"
                   name="password"
                   label="Password"
                   [(ngModel)]="password"
                   [hasError]="!!errorMsg"/>

  <div class="mt-2">
    <button
      class="transition duration-400 hover:opacity-90 tracking-tighter text-box-trim text-sm rounded-full py-3 bg-neutral-300 w-full font-semibold"
      type="submit"
      [disabled]="!loginForm.valid"
    >
      @if (state() === "submitting") {
        <div class="flex gap-2 justify-center animate-pulse">
          Login in
          <div class="flex-none size-3 mt-0.5 animate-spin border-2  border-t-neutral-800 rounded-full"></div>
        </div>
      } @else if (state() === "error") {
          Something went wrong
      } @else {
        Log In
      }
    </button>
  </div>
</form>
