<article
  class="bg-primary hover:bg-primary-hover group relative overflow-hidden outline-1 outline-secondary flex flex-col h-full">
   <div class="overflow-hidden transition-all duration-400 absolute left-0 bottom-0 w-full h-0 bg-primary-highlight group-hover:h-18">
     <a [routerLink]="['/auction', data().slug]"  class="size-full flex items-end justify-between p-3 pb-1 pe-2 text-primary">
       <span class=" tracking-tighter text-sm font-semibold uppercase ">
         + Get details
       </span>
       <app-arrow-icon [size]="24"/>
     </a>
   </div>
    <!-- Item thumbnail -->
    <div class="transition-all ease-in-out duration-400 relative min-h-43 flex flex-col justify-end mb-2">
      <app-sale-thumbnail [sale]="data()"/>
    </div>

    <!-- Item info -->
    <div class="h-full text-font-primary flex flex-col">
      <div class="p-3 mt-3">
        <div class="border opacity-40 p-1 w-fit mb-2">
          <p class="uppercase tracking-tighter text-xs text-box-trim">
            <small class="text-box-trim">{{ data().item.category.label }}</small>
          </p>
        </div>
        <!-- Item title -->
        <h2 class="uppercase text-xl tracking-tighter text-box-trim">
          {{ data() | saleName }}
        </h2>
      </div>

      <!-- Item bid + link -->
      <div class="mt-auto p-3">
        <app-animated-price [sale]="data()" />
      </div>
    </div>
</article>
