<fieldset class="rounded-full border-2 border-neutral-800 px-4 mb-1" [ngClass]="{'border-red-600/50': hasError()}">
  <legend class="text-sm font-medium px-2" [ngClass]="{'text-red-600/50': hasError()}">
    {{ label() }}
  </legend>
  <input
    [type]="type()"
    [id]="name()"
    [name]="name()"
    [placeholder]="placeholder()"
    [(ngModel)]="value"
    (ngModelChange)="onChange($event)"
    (blur)="onTouched()"
    class="w-full pb-1.5 bg-transparent outline-none text-neutral-800"
    required
  />
</fieldset>
