<app-topbar/>
<main
  class="w-full flex flex-col border-y border-neutral-800">
  <div class="grid grid-cols-10">
    <!-- Filters -->
    <section class="lg:col-span-2 relative md:hidden lg:flex flex-col">
      <app-breadcrumb [items]="[{ label: 'filters'}]"/>
      <!-- Category Filter Chips -->
      <app-filter-row/>
      <!-- Pagination -->
      <app-pagination/>
    </section>

    <!-- Main content -->
    <section class="lg:col-span-6 md:col-span-6 border-x border-neutral-800 relative">
      <app-breadcrumb [items]="[{ label: 'shop' }]"/>

      <div class="py-3 grid grid-cols-5 border-b border-neutral-800">
        <div class="flex flex-col col-span-2 px-3">
          <h3 class="text-5xl mb-1.5 text-box-trim uppercase  tracking-tighter text-neutral-200">Curr.
            sales</h3>
          <div class="flex items-center mb-3 dark:text-neutral-400">
            <p class="text-sm text-box-trim tracking-tighter">
              +{{ 10 }} live auctions
            </p>
            <app-arrow-icon [size]="18"/>
          </div>

        </div>
        <div class="col-span-3 pe-3">
          <app-paragraph [content]="content"/>
        </div>
      </div>
<!--      <app-featured-sale/>-->
      <app-sale-grid/>
    </section>

    <!-- Activities -->
    <section class="lg:col-span-2 md:col-span-3 relative">

      <app-breadcrumb  [items]="[{ label: 'activities' }]"/>

      <app-live-bids-bloc/>
    </section>
  </div>
  <hr>
</main>
<app-footer/>
