<div class="">
  <button
    class="transition-all duration-300 ease-in-out relative cursor-pointer border hover:rounded-xl border-secondary font-light"
    [ngClass]="isActive()
          ? 'bg-primary-highlight text-primary font-medium pointer-events-none'
          : 'hover:bg-primary-hover text-font-primary/80 hover:text-font-primary'"
    (click)="onClick()">
    <div class="flex p-2 relative pe-6">
      <div class="text-xs text-box-trim relative tracking-tighter">
        <span>{{ "+ " + category()?.label }}</span>
        <div class="absolute left-full bottom-0 pointer-events-none">
          <div class="px-0.5 font-medium">
            <small>({{ count() }})</small>
          </div>
        </div>
      </div>
    </div>
  </button>
</div>

