<a [routerLink]="['/profile', user().slug]"
   class="flex items-center gap-1.5 w-fit text-font-primary group/user-badge">
  <div class="relative overflow-hidden rounded-full size-8">
    <img [ngSrc]="'user/' + user().thumbnail.filename | imgUrl"
         [alt]="user().firstname + ' ' + user().lastname + ' thumbnail'"
         class="object-cover dark:brightness-80" fill/>
  </div>
  <div class="flex-none">
    <p
      class="text-xs/5 truncate uppercase font-semibold tracking-tighter group-hover/user-badge:underline mt-0.5">
      {{ user().firstname }} {{ user().lastname }}</p>
    @if (extended()) {
      <p class="opacity-60 text-xs/2 mb-0.5 font-light">{{ info() }}</p>
    }
  </div>
</a>

