<div class="relative w-full min-h-100 overflow-hidden">
  <div class="lg:grid min-h-100 grid-cols-5">
    @let presence = animatedListPresence().presence;

    @for (sale of animatedListPresence().visibleItems(); track sale.id) {
      <app-sale-card ngmMotion
                     *ngmPresence="presence.visibleById()[sale.id!] ?? false"
                     initial="initial"
                     animate="animate"
                     exit="exit"
                     [variants]="itemVariants"
                     [transition]="{ type: 'spring', stiffness: 300, damping: 25, delay: .1 * $index }"
                     [data]="sale"/>
    }
  </div>
</div>


